<hr class="narrow">
<div class="container row space-even text-center">
    <a class="display thinner short click" onclick="minusMonth()"><</a>
    <h1 class="display short" id="month-display">Month</h1>
    <a class="display thinner short click" onclick="plusMonth()">></a>
</div>
<div class="calendar narrow shorter row wrap space-even container" id="calendar">
    
</div>

<div id="cat-select" class="modal">
    <div class="modal-header text-center">
        <h1 class="display thin narrow">Select a goal to add</h1>
        <hr class="narrower">
    </div>
    <ul class="container-full space-even elbow-room">
        {{#each cats as |cat|}}
        <li class="container catagory elbow-room row space-between" data-id="{{cat.id}}">
            <h2>{{cat.name}}</h2>
            <div style="background:{{cat.color}}" class="color-swatch" data-color="{{cat.color}}"></div>
        </li>
        {{else}}
        <h2>Oops no goals set! Head to the my goals page to create your first goal.</h2>
        {{/each}}
    </ul>
</div>

<div class="greyBox" id="grey-box"></div>

<script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0/build/global/luxon.min.js"></script>
<script src="/js/calendar.js"></script>